@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Playfair+Display:700');

body {
	font-family: 'Merriweather', serif;
}

blockquote {
  font-family: 'Merriweather', serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
  font-size: .85em;
}
